---
import Section from "@/components/Section.astro";
import { getLangFromUrl } from "@/i18n/utils";
import { loadCV } from "@/i18n/loadCV";

const lang = getLangFromUrl(Astro.url);
const cv = loadCV(lang);
const { summary } = cv.basics;
---

<Section title={lang === "en" ? "About me" : "Sobre mí"}>
  <p>
    {summary}
  </p>
</Section>
